#usernamediv {
  padding-right: 0;
  padding-top: 0;
  text-align: right;
}

.card-btn {
  margin: 5px;
}

.hide {
  display: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

table {
  font-size: clamp(.5rem, 1.5vw, 2.5rem);
  min-width: 18rem;
  max-width: 60%;
}